bitcoinlib==0.6.5
certifi==2023.11.17
charset-normalizer==2.0.12
ecdsa==0.18.0
greenlet==3.0.3
idna==3.6
numpy==1.26.2
pycryptodome==3.19.0
python-bitcoinlib==0.12.2
python-dotenv==0.19.1
requests==2.26.0
setuptools==69.0.3
six==1.16.0
SQLAlchemy==2.0.23
typing_extensions==4.9.0
urllib3==1.26.18
wheel==0.42.0
